$body-color: #272b30;

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 20px;
}
.content:nth-last-child(-n+2) {
  justify-content:start;
}
.contentZone{
    display: block;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 350px;
    height: 425px;
    margin:10px;
    color: #c8c8c8;
    background-color: #1c1e22;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
    padding-top: 20px;
}
.contentZone li{
    border-bottom: 1px solid white; 
    margin: 20px;
}
.contentZone:hover {
    transform: scale(1.07); 
}
.passiveContent {
  left: 430px;
  width: 430px;
  height: 450px;
}
.image {
  display: block;
  margin: auto;
}
.image_center{
  width: 280px;
  height: 370px;
}
.person_name{
  position: relative;
  bottom: 10px;
}