$body-color: #272b30;
@keyframes centerContent {
    from {
      left: 0;
      top: 0;
    }
    to {
      top: calc(50% - 215px);
      left: calc(50% - 215px);
    }
  }
  @keyframes backContent {
    from {
      left: -255px;
    }
    to {
      left: 0;
    }
  }
.content {
    display: flex;
}
.contentZone{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.6);
    max-width: 430px;
    min-width: 430px;
    width: 430px;
    margin: 20px;
    height: 450px;
    word-wrap: break-word;
    color: white;
    background-color: #1c1e22;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.contentZone li{
    border-bottom: 1px solid white; 
    margin: 20px;
}
.contentZone:hover {
    transform: scale(1.07); 
}
.transBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1.1;
    backdrop-filter: blur(5px);
}
.activeContent {
    position: absolute;
    top: calc(50% - 215px);
    left: calc(50% - 215px);
}
.activeContent:hover{
  transform: none; 
}
.goCenter {
  animation: centerContent 1s 1 ease;
}
.goBack{

}