.content {
    display: flex;
}
.contentZone{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.6);
    max-width: 430px;
    width: 430px;
    margin: 20px;
    height: 450px;
    word-wrap: break-word;
    color: white;
    background-color: #1c1e22;
    border-radius: 4px;
}
.contentZone li{
    border-bottom: 1px solid white; 
    margin: 20px;
}