$body-color: #272b30;

body {
  text-align: center;
  background-color: $body-color;
  margin: 0;

}
button {
  background-color: $body-color;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top: none;
  border-bottom: none;
  color: #c8c8c8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  z-index: 5;
}
button:hover {
  background-color: #0a0b0c;
}
ul{
  list-style:none;
  text-align: left;
  padding: 0px;
  width: 100%;
  margin: 0;
}
h1{
  padding-left: 40px;
}
h3{
  padding: 10px 20px 0 20px;
  width: 100%;
  margin: auto;
  text-align: left;
  font-weight:normal;
}
li{
  padding-left: 40px;
  color: rgba(0,0,0,.54);
  line-height: 1.5;
}
a{
  text-decoration: none;
  color: #03A0E9;
  
}
::-webkit-scrollbar{
  // display: none;
}
button:active {
  // display: none;
}