$body-color: #272b30;

body {
  text-align: center;
  background-color: $body-color;
  margin: 0;

}
button {
  background-color: $body-color;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top: none;
  border-bottom: none;
  color: #c8c8c8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  z-index: 5;
}
button:hover {
  background-color: #0a0b0c;
}
ul{
  list-style:none;
  text-align: left;
  padding: 0,0,0,20px;
}
::-webkit-scrollbar{
  display: none;
}
